label {
	display: block;

	& > input:not([type]),
	& > input[type=text],
	& > input[type=password],
	& > textarea,
	& > output {
		box-sizing: border-box;
		margin-bottom: $inuit-base-spacing-unit--small;
	}

	& > textarea {
		vertical-align: top;
	}

	& > output {
		display: inline-block,
	}
}
