.site-header {
	height: 100px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 10rem;
	font-weight: 800;
	font-style: italic;
	letter-spacing: -0.08em;
	background-color: $site-header-bg-color;
}

.site-header__logo {
	float: left;
	position: relative;
	width: 10rem;
	vertical-align: top;
}

.site-header__logo::before {
	content: '';
	display: block;
	padding-top: 123.125%;
}

.site-header__logo > svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: visible;
}

.site-header__logo circle {
	fill: $site-logo-bg-color;
	paint-order: stroke;
	stroke: $site-header-bg-color;
	stroke-dashoffset: -35%;
	stroke-dasharray: 337.72, 337.72;
	stroke-width: 20px;
}

.site-header__title {
	position: relative;
	height: 100%;
	margin-left: 10rem;
}

.site-header__title > svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-header__title text,
.site-header__title use {
	fill: hsl($site-header-bg-hue, 72%, 53%);
}