.wrapper {
	background: url(/dist/svg/loader-plain.svg) no-repeat;
	background-position: left 5%;
	background-size: 80% auto;
	min-height: 100%;
	max-width: 40em;
	padding: 0 5em;
	margin: 0 auto;
	overflow: hidden;
}