$color-primary: hsl(269, 100%, 39%); // hsl(216, 100%, 34%);
$color-secondary: hsl(60, 100%, 50%); // hsl(40, 100%, 74%);
$color-highlight: hsl(58, 95%, 98%);
$color-shadow: hsl(319, 15%, 25%);

@import "node_modules/inuit-starter-kit/node_modules/inuit-defaults/settings.defaults";

@import "node_modules/inuit-functions/tools.functions";
@import "node_modules/inuit-mixins/tools.mixins";

@import "node_modules/inuit-normalize/generic.normalize";
//@import "node_modules/inuit-box-sizing/generic.box-sizing";

@import "node_modules/inuit-clearfix/trumps.clearfix";

$link-hue: 275;
$link-color: hsl($link-hue, 52%, 33%);
@import "node_modules/inuit-page/base.page";
@import "base.page";

$inuit-heading-size-1: 32px;
$inuit-heading-size-2: 22px;
$inuit-heading-size-3: 20px;
$inuit-heading-size-4: 18px;
$inuit-heading-size-5: 17px;
$inuit-heading-size-6: 16px;
@import "node_modules/inuit-headings/base.headings";
@import "base.headings";

@import "node_modules/inuit-headings-trumps/trumps.headings";
@import "trumps.headings";

.milli {
	@include inuit-font-size(14px);
}

@import "node_modules/inuit-list-inline/objects.list-inline";

@import "base.forms";
@import "objects.forms";

@import "beautons";

@import "objects.wrappers";

$site-header-bg-hue: 275;
$site-logo-bg-color: hsl(60, 100%, 50%);
$site-header-bg-color: $link-color;
@import "components.site-header";

@import "components.site-menu";

@import "components.article";